.input-container {
    position: relative;
    margin-bottom: 16px;
  }
  
  input {
    height: 48px;
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #4D5F71;
    box-sizing: border-box;
    padding: 16px;
    /* margin-bottom: 20px; */
  }

  .label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    display: flex;
    pointer-events: none;
    align-items: center;
  }

  input, .label .text {
    font-family: 'Segoe UI';
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border: 2px solid #696CFF;
  }

  input:focus + .label .text {
    font-size: 12px;
    transform: translate(0, -50%);
    padding-left: 4px;
    padding-right: 4px;
    color: #696CFF;
  }

  .label .text {
    transition: all 0.15s ease-out;
    transform: translateY(10px);

  }
  
  input:focus + .label .text, :not(input[value=""]) + .label .text {
    font-size: 12px;
    transform: translate(0, -50%);
    padding-left: 4px;
    padding-right: 4px;
  }
  
  input:focus + .label .text {
    color: #696CFF;
  }